@use '../util' as utl;
@use '../globals/mixins' as mixin;

.easy-articles {
  background-color: var(--verylitegray);
  padding-block: utl.rem(88);

  @include mixin.breakpoint-up(large) {
    padding-block: utl.rem(80);
  }

  &__grid {
    display: grid;
    grid-gap: utl.rem(24);
    grid-template-columns: repeat(auto-fit, minmax(utl.rem(255), 1fr));

    @include mixin.breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: utl.rem(30);
    }
  }

  &__card {
    background-color: var(--white);
    border-radius: utl.rem(5);
    
    p {
      text-align: left;
    }
  }

  &__image {
    height: utl.rem(200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 60%;
    border-radius: utl.rem(5) utl.rem(5) 0 0;
  }

  &__text {
    padding-inline: utl.rem(24);
    padding-block: utl.rem(24);
    background-color: var(--white);
    border-radius: 0 0 utl.rem(5) utl.rem(5);
  }

  &__src {
    margin-block-end: utl.rem(8);

    p {
      font-size: var(--font-article-src);
      line-height: utl.rem(18);
      letter-spacing: utl.rem(-0.16);
    }
  }

  &__title {
    margin-block-end: utl.rem(8);

    h3 {
      margin-block: 0;
      font-size: var(--font-article-subheading);
      font-weight: 300;
      line-height: utl.rem(20);
      letter-spacing: utl.rem(-0.29);

      a {
        color: var(--darkblue);
        display: block;

        &:hover {
          color: var(--limegreen);
        }
      }
    }
  }

  &__desc {

    p {
      font-size: var(--font-article-desc);
      line-height: utl.rem(18);
      letter-spacing: utl.rem(-0.2);
    }
  }
}
