@use '../util' as utl;
@import '../globals/mixins';

.easy-hero {
  @include breakpoint-up(large) {
    min-height: utl.rem(655);
    display: flex;
    align-items: center;
  }

  &__image {
    position: relative;
    background-image: url('../../../public/img/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: utl.rem(270);

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: utl.rem(655);
      background-image: url('../../../public/img/bg-intro-desktop.svg');
      background-position: left center;

      &::before {
        bottom: utl.rem(-125);
        height: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      // bottom: -12px;
      width: 100%;
      height: utl.rem(287);
      background-image: url('../../../public/img/image-mockups.png');
      background-size: 92%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }

  &__text {
    text-align: center;
    padding-block: utl.rem(40);

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    h2 {
      font-weight: 300;
      font-size: var(--font-heading);
      line-height: normal;
      letter-spacing: utl.rem(-0.7);
      color: var(--darkblue);
      margin-block-start: 0;
      margin-block-end: utl.rem(15);
    }

    p {
      font-weight: 400;
      font-size: var(--font-section-tagline);
      line-height: utl.rem(25);
      letter-spacing: utl.rem(-0.23);
      margin-block-start: 0;
      margin-block-end: utl.rem(30);
    }

    button {
      margin-block-end: utl.rem(50);
    }
  }
}
