@use '../util' as utl;
@use '../globals/mixins' as mixin;

.easy-footer {
  background-color: var(--darkblue);
  color: var(--white);
  padding-block-start: utl.rem(40);
  text-align: center;

  @include mixin.breakpoint-up(large) {
    padding-block-start: utl.rem(48);
  }

  &__logo {
    display: inline-block;
    margin-block-end: utl.rem(32);
  }

  &__social {
    margin-block-end: utl.rem(32);


    a {

      svg {
        fill: var(--white);
      }

      &:hover {

        svg {
          fill: var(--limegreen);
        }
      }
    }
  }

  &__links {

    a {
      color: var(--white);
      display: block;
      margin-block-end: utl.rem(8);

      &:hover {
        color: var(--limegreen);
      }
    }

    &.col2 {
      margin-block-end: utl.rem(32);
    }
  }

  &__cta {
    margin-block-end: utl.rem(32);

    button {
      margin-block-end: utl.rem(32);
    }

    p {
      color: var(--grayishblue);
    }
  }
}
