@use "../util" as utl;

:root {
  /*
   * Colors
   */
  // Fonts
  --font-heading: #{ clamp(utl.rem(40), 2.147887323943662rem + 1.5023474178403755vw, utl.rem(56)) };
  --font-subheading: #{ clamp(utl.rem(32), 1.823943661971831rem + 0.7511737089201878vw, utl.rem(40)) };
   --font-section-title: #{ clamp(utl.rem(20), 1.1224489795918366rem + 0.5442176870748299vw, utl.rem(24)) };
   --font-section-tagline: #{ clamp(utl.rem(15), 0.8418367346938775rem + 0.4081632653061224vw, utl.rem(18)) };
   --font-article-subheading: #{ utl.rem(16) };
   --font-content: #{ utl.rem(15) };
   --font-button: #{ utl.rem(14) };
   --font-article-desc: #{ utl.rem(13) };
  
  // Primary
  --darkblue: hsl(233, 26%, 24%);
  --limegreen: hsl(158, 61%, 49%);
  --brightcyan: hsl(192, 70%, 51%);

  // Neutral
  --grayishblue: hsl(233, 8%, 62%);
  --litegrayishblue: hsl(220, 16%, 96%);
  --verylitegray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
